
.card-header {
    @include cardHeader;
    display: flex;
    align-items: center;

    &__circle {
        flex: 1;
        box-shadow: 1px 1px 10px $cFossil;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: $spaceS;
        display: grid;    
    }
    &__logo {
        color: $cRust;
        font-size: 1.2rem;
        place-self: center;
    }
    &__title {
        flex: 3;
        @include cardTitle;
        text-transform: uppercase;
        margin-left: $spaceS;
    
    }
    &__icon-container {
        flex: 4;
        padding: $spaceM $spaceS;
        display: grid;
        justify-content: end;
        
    }
    &__icon {
        @include iconDefault;
        pointer-events: none;
    }
}

.card-content {
    &__link {
        @include cardDefault;
        display: flex;
        align-items: center;
        background-color: $cBackground;  
    }
    &__img-container {
        flex: 1;
        min-width: 73.3px;
        min-height: 73.3px;
        border-radius: 50%;
        overflow: hidden;
        background-image: url('../img/placeholder-img.png');
        background-repeat: none;
        background-position: center;
        pointer-events: none;
    }
    &__img {
        object-fit: cover;
    }
    &__text-container {
        flex: 4;
        margin-left: $spaceS;
        pointer-events: none;    
    }
    &__heading {
        @include cardTitle;
    }
    &__description {
        @include bodyCopy;
    }
}