
.card-header {
    @include cardDefault;
    display: flex;
    align-items: center;

    &__circle {
        box-shadow: 1px 1px 10px $cFossil;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: grid;    
    }
    &__logo {
        color: $cRust;
        font-size: 1.2rem;
        place-self: center;
    }
    &__title {
        @include cardTitle;
        text-transform: uppercase;
        margin-left: $spaceS;
    
    }
    &__icon {
        @include iconDefault;
        margin-left: auto;
    }
}

.card-content {
    
    &__btn {
        position: absolute;
        right: 0;
        width: 30%;
        height: 100%;
        display: grid;
        place-content: center;
        cursor: pointer;
        
        &-icon {
            @include iconDefault;
            color: $cFontLight;
            pointer-events: none;    
        }
    }
    &__link {
        @include cardDefault;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        right: 124px;
        background-color: $cBackground;    
    }
    &__img-container {
        flex: 1;
        min-width: 73.3px;
        min-height: 73.3px;
        border-radius: 50%;
        overflow: hidden;
        background-image: url('../img/placeholder-img.png');
        background-repeat: none;
        background-position: center;
    }
    &__img {
        object-fit: cover;
    }
    &__text-container {
        flex: 4;
        margin-left: $spaceS;    
    }
    &__heading {
        @include cardTitle;
    }
    &__description {
        @include bodyCopy;
    }
}