
.notification {
    background-color: $cSage;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: grid;
    place-content: center;
    position: absolute;
    right: 18%;
    top: 19%;
    font-family: $fMain;
    font-weight: $fWeightLight;
    color: $cFontLight;
    font-size: 12px;
}