.overlay {
    background-color: rgba(0, 0, 0, 0.699);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.onboarding {

    &__box {
        background-color: $cBackground;
        border-radius: 10px;
        margin: 0 $spaceL;
        padding: $spaceS 0;
        position: relative;
        transition: 300ms;
        z-index: 11;
    }
    &__exit-icon {
        @include iconDefault;
        padding: .3rem .5rem;
        position: absolute;
        top: 0;
        right: 0;
        &:hover {
            color: $cSageDark;
        }  
    }
    &__heading {
        @include headingSmall;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: $spaceS;
    }
    &__description {
        @include cardCopy;
        margin: 0 $spaceL;
        text-align: center;
    }
    &__controls {
        @include borderTop;
        margin-top: $spaceS;
        padding-top: $spaceS;
        display: flex;
        justify-content: space-around;
    }
}

.prev-btn, .next-btn {
  @include buttonDefault;
}
.prev-btn > *, .next-btn > * {
  pointer-events: none;
}
// .prev-btn:hover, .next-btn:hover {
//   background-color: $cSageDark;
// }
.btn_disabled {
    pointer-events: none;
    background-color: $cFossilLight;
}

.dot-container {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $cFossilLight;

    &:not(:last-of-type) {
        margin-right: $spaceXS;
    }
    &_active {
        background-color: $cSage;    
    }
}
