
.settings-container {
    background-color: $cFossilLight;
    // background-color: lighten($cFossil, 11);
    padding: $spaceS;
    height: 100%;

    &__heading {
        text-align: center;
        line-height: 1;
        @include settingsSubHeading;

        & span {
            @include headingBig;
            letter-spacing: .03em;
            color: $cSage;   
            // color: darken($cSage, 5);  
        }
    }
    &__line {
        color: $cBackground;
        opacity: .5;
        width: 33px;
        border-style: solid;
        margin: $spaceM auto $spaceM auto;
    }
}

.category-container {
    background-color: $cBackground;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 2px 10px $cFossil;
    user-select: none;

    & > :last-child {
        border-bottom: none;    
    }
}

.category-content {
    @include cardDefault;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;

    &__handlebar {
        color: $cSage;
        padding: 1.2rem $spaceS;
        opacity: .5;
        font-size: 1.2rem; 
    }
    &__title {
        @include cardTitle;
        text-transform: uppercase;
        pointer-events: none;
        margin-right: auto;
    }
    &__switch {
        margin-right: $spaceS;
    }
    &_active {
        box-shadow: 0 0 15px 1px $cSage;  
    }
}

.toggle-theme-button {
    // background-color: lighten($cFossil, 11);
    background-color: $cThemeBtn;
    border: 2px solid $cFossil;
    border-radius: 30px;
    cursor: pointer;
    padding: $spaceS $spaceXS;
    @include btnLabel;
    display: block;
    margin: $spaceM auto $spaceM;
    transition: 200ms;
}

.version-message {
    @include timestamp;
    text-align: center;
}

