
.top-header {
    width: 100%;
}

.navigation-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $cBackground;
    @include borderBottom;
    
    &__link {
        @include headingSmall;
        
        &_center {
            margin: 0 auto;
        }
    }
    &__icon {
        @include iconDefault;
        padding: $spaceM $spaceL;
    }
}