/* ==== FONT CLASSES ==== */
.heading-big {
    @include headingBig
}
.heading-medium {
    @include headingMedium
}
.heading-small {
    @include headingSmall
}
.heading-sub {
    @include headingSub
}
.card-title {
    @include cardTitle
}
.card-copy {
    @include cardCopy
}
.body-copy {
    @include bodyCopy
}
.timestamp {
    @include timestamp
}
.btn-label {
    @include btnLabel
}

/* ==== ANIMATION CLASSES ==== */

.animate {
    transition: 150ms;
}
.animate-slow {
    transition: 400ms;
}
.slide-in-left {
    animation: slideInLeft 400ms;
}
.slide-in-right {
    animation: slideInRight 400ms;
}
.fade-in-up {
    animation: fadeInUp 400ms;    
}
.fade-out-down {
    animation: fadeOut 350ms;    
}

/* ==== MISC ==== */

.text-highlight {
    font-weight: $fWeightBold;
}