// FONT MIXINS
@mixin headingBig {
    font-family: $fMain;
    font-weight: $fWeightBold;
    font-size: 30px;
    color: $cFontDark;    
}
@mixin headingMedium {
    font-family: $fMain;
    font-weight: $fWeightBold;
    font-size: 24px;
    color: $cFontDark;    
}
@mixin headingSmall {
    font-family: $fMain;
    font-weight: $fWeightBold;
    font-size: 18px;
    color: $cFontDark;    
}
@mixin headingSub {
    font-family: $fMain;
    font-weight: $fWeightRegular;
    font-size: 18px;
    color: $cFontMedium;    
}
@mixin settingsSubHeading {
    font-family: $fMain;
    font-weight: $fWeightRegular;
    font-size: 20px;
    color: lighten($cFontDark, 15);      
}
@mixin cardTitle {
    font-family: $fMain;
    font-weight: $fWeightBold;
    font-size: 15px;
    color: $cFontDark;    
}
@mixin cardCopy {
    font-family: $fMain;
    font-weight: $fWeightLight;
    font-size: 15px;
    color: $cFontMedium;    
}
@mixin bodyCopy {
    font-family: $fMain;
    font-weight: $fWeightLight;
    font-size: 14px;
    color: $cFontMedium;    
}
@mixin timestamp {
    font-family: $fMain;
    font-weight: $fWeightLight;
    font-size: 12px;
    color: $cFontMedium;    
}
@mixin btnLabel {
    font-family: $fSecond;
    font-weight: $fWeightLight;
    font-size: 17px;
    color: $cFontDark;
    text-transform: uppercase;
    letter-spacing: 0.15em;    
}


// ======================
// ====== M I S C =======
// ======================

@mixin borderBottom {
    border-bottom: solid 2px lighten($cFossil, 12) ;
}
@mixin iconDefault {
    font-size: 1.3rem;
    color: $cFontDark;
    cursor: pointer;
    transition: 200ms;  
}
@mixin cardDefault {
    width: 100%;
    padding: 1.2rem $spaceS;
    background-color: $cBackground;
    @include borderBottom;   
}
@mixin cardHeader {
    width: 100%;
    background-color: $cBackground;
    @include borderBottom;   
}